<mat-toolbar color="primary">
  <span>Products List (Public Area)</span>
</mat-toolbar>
<mat-toolbar color="primary">
    <div>
        <form #searchForm="ngForm" class="form-inline my-2 my-lg-0" (submit)="search(searchForm)">
            <input [ngModel]="searchvalue" name="searchvalue" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-warning my-2 my-sm-0" type="submit">Search</button>
          </form>
    </div>

    <div style="margin-left:50px;">
        <label>Select a sorting Filter:</label>
        <select [ngModel]="selectedItem" (ngModelChange)="onChange($event)">
            <option value="title">Order by title</option>
            <option value="price">Order by price</option>
            <option value="data_created">Order by data_created</option>
          </select>
    </div>
</mat-toolbar>
<div class="page-wrapper">
  <div fxLayout="row wrap" fxLayoutGap="16px">
    <mat-card fxFlex="calc(25% - 16px)" *ngFor="let product of pagedList">
      <mat-card-header>
        <mat-card-title>{{product.title}}</mat-card-title>
        <mat-card-subtitle>{{product.date_created}}</mat-card-subtitle>
        <mat-card-subtitle>{{product.price}} €</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="{{product.image}}">
      <mat-card-content>{{product.description}}</mat-card-content>
    </mat-card>
  </div>
</div>
<mat-paginator #paginator [length]="length"
[pageSize]="pageSize"
[pageSizeOptions]="pageSizeOptions"
(page)="pageEvent = OnPageChange($event)">
</mat-paginator>